<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Preview</title>
</head>
<body>
    <h1>Photo Preview</h1>
    <div>
        <h2>Filename: <%= filename %></h2>
        <img src="<%= blobUrl %>" alt="Uploaded File Preview" style="width: 100%;">
    </div>
</body>
</html>
